/***    CSS for all JSP pages **/
body {
	margin: 0;
}

table {
	border-collapse:collapse;
}

td {
	border:1px solid black;
	padding: 2px;
}

#header, #footer, .content {
	border: 0px solid;
}

/**   Style of the main table  **/
#main-container {
	width: 100%;
	height: 100%;
}

/** Content styles **/
.content {
	height: 100%;
	background: #ffeda6;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

/**footer*/

#footer {
	text-align: center;
	background: #AAF;
}

/** Login form (login.jsp) */
#login_form > fieldset {
	display: inline;
}

#login_form > input[type=submit] {
	margin-top: 5px;
}

/**List user table (list_users.jsp)**/
#list_user_table {
	margin-top: 5px;
}

#list_user_table head {
	text-align: center;
}

#list_user_table td:last-child {
	text-align: center;
}
