<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
<!--        <property name="hibernate.connection.url">jdbc:h2:/home/NIX/mirzoiev-r/IdeaProject/mirzoiev.r/19_jpa_hibernate/testHiber</property>-->
        <property name="hibernate.connection.url">jdbc:h2:tcp://db:9092/dockerScript</property>
<!--        <property name="hibernate.connection.url">jdbc:h2:mem:testdb1</property>-->
        <property name="hibernate.connection.username"></property>
        <property name="hibernate.connection.password"></property>
        <property name="current_session_context_class">thread</property>
<!--        #jdbc.url=jdbc:h2:tcp://db:9092/dockerScript-->
<!--        jdbc.url=jdbc:h2:tcp://db:9092/dockerScript-->
<!--        jdbc.USER=-->
<!--        jdbc.PASS=-->

<!--        <property name="hibernate.connection.url">jdbc:h2:mem:default</property>-->
<!--        <property name="hibernate.connection.username"></property>-->
<!--        <property name="hibernate.connection.password"></property>-->

        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="hibernate.hbm2ddl.auto">create</property>


        <!--        <property name="current_session_context_class">thread</property>-->
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create-drop</property>
        <!-- dbcp connection pool configuration -->
        <property name="hibernate.dbcp.initialSize">5</property>
        <property name="hibernate.dbcp.maxTotal">20</property>
        <property name="hibernate.dbcp.maxIdle">10</property>
        <property name="hibernate.dbcp.minIdle">5</property>
        <property name="hibernate.dbcp.maxWaitMillis">-1</property>
        <mapping class="com.mir.hibernate.entity.Role" />
        <mapping class="com.mir.hibernate.entity.User" />

    </session-factory>
</hibernate-configuration>