E/
.idea
target/
../00_git/out/
../17_sql_jdbc/E:/
E:/
../19_jpa_hibernate/conspect-Hibernate.odt
../E:/
E_/Java/LogTest2/logs/error.log
E_/Java/LogTest2/logs/log.log
 ../RestApiClient/
 ../23_angular/...
